.flash-messages {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    90% { opacity: 0.1; }
    100% { display: none; opacity: 0; }
}

.animate-fade-out {
    animation: fadeOut 5s forwards;
}